[Desktop Entry]
Name=Sembrando para el futuro
Name[es_VE]=sembrando-para-el-futuro.desktop
GenericName=Sembrando para el futuro
GenericName[es_VE]=Sembrando para el futuro
Comment=Recurso Digitalizado para los Aprendizajes que incorpora accesibilidad.
Comment[es_VE]=Comment=Recurso Digitalizado para los Aprendizajes que incorpora accesibilidad.
Exec=python inicio.py $*
Path=/usr/share/sembrando-para-el-futuro/presentacion/
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/sembrando-para-el-futuro/iconos/sembrando.svg
Categories=GNOME;GTK;Utility;
X-GNOME-FullName=Sembrando para el futuro
X-GNOME-FullName[es]=Sembrando para el futuro
