Source: sembrando-para-el-futuro
Section: educacion
Priority: extra
Maintainer: José Francisco Guerrero <jsfrncscg@gmail.com>
Uploaders: José Francisco Guerrero <jsfrncscg@gmail.com>
Build-Depends: cdbs, debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/joseguerrero/sembrando.git
Vcs-Browser: https://github.com/joseguerrero/sembrando

Package: sembrando-para-el-futuro
Architecture: all
Depends: blender, speech-dispatcher, python3-speechd, wmctrl, festvox-ellpc11k, sox, libsox2, libsox-fmt-base, libsox-fmt-alsa, ${shlibs:Depends}, ${misc:Depends}
Description: Recurso educativo que incorpora un interprete virtual de lengua
 de señas venezolana y sintesis de voz.
